html {
    position: relative;
    min-height: 100%;
}

body {
    transition: background 0.5s linear;
    -moz-transition: background 0.5s linear; /* Firefox 4 */
    -webkit-transition: background 0.5s linear; /* Safari and Chrome */
    -o-transition: background 0.5s linear; /* Opera */
    font-family: 'Lato', sans-serif;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}

h1 {
    
    color: white;
    text-align: center;
    font-size: 50pt; 
    -webkit-text-stroke: 0.25px black;
}

h2 {
    
    color: white;
    text-align: center;
    margin-top: 20%;
}

h4 {
    
    color: white;
    text-align: center; 
}

input { 
    text-align: center;
    font-size: 1.5em !important;
}

div .form-group {
    text-align: center;
}

.row {
    margin-top: 2%;
}

.panel {
    color:black;
    margin-top: 5px;
}

.main {
    margin-top: 25%; 
}

.navbar-nav li a {
    font-weight: bold;
}

.fa {
    font-size: 18px;
}

.footer {
    margin-top: 10%; 
    text-align: center;
    color: white;
} 